@media (max-width: 768px) {

  .img {
    width: 100% inherit;
  }
  .first .textblock {
    left: 114px;
  }
  .second .textblock {
    left: 312px;
  }
.last .textblock {
  position: static;

  justify-content: flex-start;
  width: auto;
  text-align: left;
}

}
